apiVersion: apps/v1
kind: Deployment
metadata:
  name: authservice
  labels:
    app: authservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authservice
  template:
    metadata:
      labels:
        app: authservice
    spec:
      containers:
        - name: authservice
          image: prabal864/livereconai:auth-P1
          ports:
            - containerPort: 8086
          env:
            - name: SPRING_CONFIG_IMPORT
              valueFrom:
                configMapKeyRef:
                  name: microservices-config
                  key: SPRING_CONFIG_IMPORT
            - name: SPRING_RABBITMQ_HOST
              valueFrom:
                configMapKeyRef:
                  name: microservices-config
                  key: SPRING_RABBITMQ_HOST
            - name: SERVER_PORT
              valueFrom:
                configMapKeyRef:
                  name: microservices-config
                  key: AUTHSERVICE_PORT
            - name: EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE
              valueFrom:
                configMapKeyRef:
                  name: microservices-config
                  key: EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
            requests:
              memory: "256Mi"
              cpu: "250m"

---

apiVersion: v1
kind: Service
metadata:
  name: authservice
spec:
  selector:
    app: authservice
  ports:
    - protocol: TCP
      port: 8086
      targetPort: 8086
  type: LoadBalancer
