services:

  postgres:
    image: postgres:latest
    container_name: keycloak-postgres
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak123
    volumes:
      - keycloak_data:/var/lib/postgresql/data
    networks:
      - FinancePilot

  keycloak:
    image: "quay.io/keycloak/keycloak:26.2.0"
    container_name: keycloak
    ports:
      - "8070:8080"
    environment:
      - KC_DB=postgres
      - KC_DB_URL_HOST=postgres
      - KC_DB_URL_DATABASE=keycloak
      - KC_DB_USERNAME=keycloak
      - KC_DB_PASSWORD=keycloak123
      - KC_HOSTNAME=localhost
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    command: "start-dev"
    networks:
      - FinancePilot
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 512M

  read:
    image: grafana/loki:latest
    command: "-config.file=/etc/loki/config.yaml -target=read"
    ports:
      - "3101:3100"
      - "7946"
      - "9095"
    volumes:
      - ../observability/loki/loki-config.yaml:/etc/loki/config.yaml
    depends_on:
      - minio
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks: &loki-dns
      FinancePilot:
        aliases:
          - loki
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 512M

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ../observability/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - FinancePilot
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 256M

  write:
    image: grafana/loki:latest
    command: "-config.file=/etc/loki/config.yaml -target=write"
    ports:
      - "3102:3100"
      - "7946"
      - "9095"
    volumes:
      - ../observability/loki/loki-config.yaml:/etc/loki/config.yaml
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      - minio
    networks:
      <<: *loki-dns
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 512M

  alloy:
    image: grafana/alloy:latest
    volumes:
      - ../observability/alloy/alloy-local-config.yaml:/etc/alloy/config.alloy:ro
      - /var/run/docker.sock:/var/run/docker.sock
    command:  run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    ports:
      - "12345:12345"
    depends_on:
      - gateway
    networks:
      - FinancePilot
    deploy:
      resources:
        limits:
          cpus: 0.5
          memory: 256M

  minio:
    image: minio/minio
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /data/loki-data && \
        mkdir -p /data/loki-ruler && \
        minio server /data
    environment:
      - MINIO_ROOT_USER=loki
      - MINIO_ROOT_PASSWORD=supersecret
      - MINIO_PROMETHEUS_AUTH_TYPE=public
      - MINIO_UPDATE=off
    ports:
      - 9000
    volumes:
      - ./.data/minio:/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 15s
      timeout: 20s
      retries: 5
    networks:
      - FinancePilot
    deploy:
      resources:
        limits:
          cpus: 0.5
          memory: 256M


  grafana:
    image: grafana/grafana:latest
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    depends_on:
      - gateway
    entrypoint:
      - sh
      - -euc
      - |
        /run.sh
    ports:
      - "3000:3000"
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3000/api/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ../observability/grafana/datasource.yaml:/etc/grafana/provisioning/datasources/datasource.yaml
    deploy:
      resources:
        limits:
          cpus: 0.5
          memory: 256M
    networks:
      - FinancePilot

  backend:
    image: grafana/loki:latest
    volumes:
      - ../observability/loki/loki-config.yaml:/etc/loki/config.yaml
    ports:
      - "3100"
      - "7946"
    command: "-config.file=/etc/loki/config.yaml -target=backend -legacy-read-mode=false"
    depends_on:
      - gateway
    deploy:
      resources:
        limits:
          cpus: 0.5
          memory: 256M
    networks:
      - FinancePilot


  gateway:
    image: nginx:latest
    depends_on:
      - read
      - write
    entrypoint:
      - sh
      - -euc
      - |
        cat <<EOF > /etc/nginx/nginx.conf
        user  nginx;
        worker_processes  5;  ## Default: 1

        events {
          worker_connections   1000;
        }

        http {
          resolver 127.0.0.11;

          server {
            listen             3100;

            location = / {
              return 200 'OK';
              auth_basic off;
            }

            location = /api/prom/push {
              proxy_pass       http://write:3100\$$request_uri;
            }

            location = /api/prom/tail {
              proxy_pass       http://read:3100\$$request_uri;
              proxy_set_header Upgrade \$$http_upgrade;
              proxy_set_header Connection "upgrade";
            }

            location ~ /api/prom/.* {
              proxy_pass       http://read:3100\$$request_uri;
            }

            location = /loki/api/v1/push {
              proxy_pass       http://write:3100\$$request_uri;
            }

            location = /loki/api/v1/tail {
              proxy_pass       http://read:3100\$$request_uri;
              proxy_set_header Upgrade \$$http_upgrade;
              proxy_set_header Connection "upgrade";
            }

            location ~ /loki/api/.* {
              proxy_pass       http://read:3100\$$request_uri;
            }
          }
        }
        EOF
        /docker-entrypoint.sh nginx -g "daemon off;"
    ports:
      - "3100:3100"
    healthcheck:
      test: ["CMD", "service", "nginx", "status"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          cpus: 1.25
          memory: 1024M
    networks:
      - FinancePilot

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    deploy:
      resources:
        limits:
          cpus: 0.5
          memory: 500M
    networks:
      - FinancePilot
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 15
      start_period: 5s

  rabbit:
    image: rabbitmq:latest
    container_name: rabbitmq
    hostname: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 5s
    networks:
      - FinancePilot


  account:
    image: prabal864/livereconai:account-P1
    container_name: accountservice
    ports:
        - "8072:8072"
    deploy:
      resources:
        limits:
          cpus: 1.25
          memory: 516M
    depends_on:
      configserver:
          condition: service_healthy
      eurekaserver:
        condition: service_healthy
    environment:
      RABBITMQ_HOST: "rabbit"
      SPRING_CONFIG_IMPORT: "optional:configserver:http://configserver:8084/"
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: "http://eurekaserver:8761/eureka/"

    networks:
      - FinancePilot

  auth:
    image: prabal864/livereconai:auth-P1
    container_name: authservice
    ports:
      - "8086:8086"
    deploy:
      resources:
        limits:
          cpus: 1.25
          memory: 516M
    depends_on:
      configserver:
        condition: service_healthy
      eurekaserver:
        condition: service_healthy
    environment:
      RABBITMQ_HOST: "rabbit"
      SPRING_CONFIG_IMPORT: "optional:configserver:http://configserver:8084/"
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: "http://eurekaserver:8761/eureka/"

    networks:
      - FinancePilot


  gatewayserver:
    image: prabal864/livereconai:gateway-P1
    container_name: Gateway_MS
    ports:
      - "8073:8073"
    depends_on:
      eurekaserver:
        condition: service_healthy
      rabbit:
        condition: service_healthy
      redis:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 700M
    networks:
      - FinancePilot

    environment:
      SPRING_CONFIG_IMPORT: "configserver:http://configserver:8084/"
      SPRING_RABBITMQ_HOST: "rabbit"
      SPRING_DATA_REDIS_HOST: "redis"
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: "http://eurekaserver:8761/eureka/"
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK-SET-URI: "http://keycloak:8080/realms/master/protocol/openid-connect/certs"

  eurekaserver:
    image: prabal864/livereconai:eureka-P1
    container_name: eurekaserver
    ports:
      - "8761:8761"
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 700M

    healthcheck:
      test: curl --fail --silent http://eurekaserver:8761/actuator/health/readiness | grep UP || exit 1
      interval: 30s
      timeout: 5s
      retries: 20
    depends_on:
      configserver:
        condition: service_healthy
    networks:
      - FinancePilot
    environment:
      SPRING_APPLICATION_NAME: "eurekaserver"
      SPRING_CONFIG_IMPORT: "configserver:http://configserver:8084/"

  configserver:
    image: prabal864/livereconai:config-P1
    container_name: configserver-ms
    ports:
      - "8084:8084"
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 700M

    healthcheck:
      test: "curl --fail --silent http://configserver:8084/actuator/health | grep UP || exit 1"
      interval: 30s
      timeout: 5s
      retries: 20
      start_period: 35s
    depends_on:
      rabbit:
        condition: service_healthy
    networks:
      - FinancePilot
    environment:
      SPRING_RABBITMQ_HOST: "rabbit"
      SERVER_PORT: 8084
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: "http://eurekaserver:8761/eureka/"

  transaction:
    image: prabal864/livereconai:transaction-P1
    container_name: transaction
    ports:
      - "8085:8085"
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 700M

    depends_on:
      configserver:
        condition: service_healthy
      eurekaserver:
        condition: service_healthy
      rabbit:
        condition: service_healthy
    networks:
      - FinancePilot
    environment:
      SPRING_CONFIG_IMPORT: "optional:configserver:http://configserver:8084/"
      SPRING_RABBITMQ_HOST: "rabbit"
      SERVER_PORT: 8085
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: "http://eurekaserver:8761/eureka/"

  ragservice:
    image: prabal864/livereconai:ragservice-0.1
    container_name: ragservice
    ports:
        - "9000:9000"
    deploy:
      resources:
        limits:
          cpus: "3"
          memory: 10240M
    networks:
      - FinancePilot

networks:
  FinancePilot:
    driver: bridge

volumes:
  keycloak_data:
    driver: local